@font-face {
  font-family: "TimesNewRoman";
  src: url("/src/assets/fonts/TimesNewRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/src/assets/fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cheltenham";
  src: url("/src/assets/fonts/Cheltenham\ BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-timesnewroman: "TimesNewRoman", serif;
  --font-helvetica: "Helvetica", sans-serif;
  --font-cheltenham: "Cheltenham", serif;
}