@import "tailwindcss";

.paragraph { 
    border-radius: 50%;
}

.navbar {
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    overflow: hidden;
    display:flex;
    justify-content: center;
}

.navbar button {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar button:hover {
    color: hsl(0,0%,55%);

}
.navbar button{
    float:left;
}

.header {

}

.footer {
    padding: 20px;
}

.main {
    padding: 20px;
}

.siteContainer {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}